openapi: 3.1.0
info:
  title: Messari Asset Service API
  description: |
    API for Asset services including asset information and related data.
    This service provides access to crypto assets data.
  version: 0.0.1
  contact:
    name: Messari Engineering
    url: https://messari.io
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.messari.io/asset
    description: Production server
  - url: https://api.staging.messari.io/asset
    description: Staging server
  - url: http://localhost:8080/asset
    description: Local development server

tags:
  - name: Asset
    description: Asset-related endpoints
  - name: AssetV2
    description: Asset-related V2 endpoints

security:
  - apiKey: []

paths:
  /metrics/v2/assets:
    get:
      operationId: getAssetsV2
      summary: Get Asset List (V2)
      description: |
        Get a list of assets with extended information and coverage details.
      tags:
        - AssetV2
      security:
        - apiKey: []
      parameters:
        - $ref: '../../common/parameters.yaml#/components/parameters/apiKey'
        - name: category
          in: query
          required: false
          description: Filter by asset category
          schema:
            type: string
        - name: sector
          in: query
          required: false
          description: Filter by asset sector
          schema:
            type: string
        - name: tags
          in: query
          required: false
          description: Filter by asset tags (comma-separated)
          schema:
            type: array
            items:
              type: string
        - name: search
          in: query
          required: false
          description: Search query for assets
          schema:
            type: string
        - name: has_diligence
          in: query
          required: false
          description: Filter assets by diligence coverage
          schema:
            type: boolean
        - name: has_intel
          in: query
          required: false
          description: Filter assets by intel coverage
          schema:
            type: boolean
        - name: has_market_data
          in: query
          required: false
          description: Filter assets by market data coverage
          schema:
            type: boolean
        - name: has_news
          in: query
          required: false
          description: Filter assets by news coverage
          schema:
            type: boolean
        - name: has_proposals
          in: query
          required: false
          description: Filter assets by proposals coverage
          schema:
            type: boolean
        - name: has_research
          in: query
          required: false
          description: Filter assets by research coverage
          schema:
            type: boolean
        - name: has_token_unlocks
          in: query
          required: false
          description: Filter assets by token unlocks coverage
          schema:
            type: boolean
        - name: has_fundraising
          in: query
          required: false
          description: Filter assets by fundraising coverage
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../common/components.yaml#/components/schemas/APIResponseWithMetadata'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/V2AssetListItem'
        '400':
          description: Client error response
          content:
            application/json:
              schema:
                $ref: '../../common/components.yaml#/components/schemas/APIError'
        '500':
          description: Server error response
          content:
            application/json:
              schema:
                $ref: '../../common/components.yaml#/components/schemas/APIError'

  /metrics/v2/assets/details:
    get:
      operationId: getAssetDetails
      summary: Get Asset Details
      description: |
        Get detailed information for specific assets by IDs or slugs.
      tags:
        - AssetV2
      security:
        - apiKey: []
      parameters:
        - $ref: '../../common/parameters.yaml#/components/parameters/apiKey'
        - name: ids
          in: query
          required: false
          description: Comma-separated list of asset IDs
          schema:
            type: string
        - name: slugs
          in: query
          required: false
          description: Comma-separated list of asset slugs
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../common/components.yaml#/components/schemas/APIResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/V2Asset'
        '400':
          description: Client error response
          content:
            application/json:
              schema:
                $ref: '../../common/components.yaml#/components/schemas/APIError'
        '500':
          description: Server error response
          content:
            application/json:
              schema:
                $ref: '../../common/components.yaml#/components/schemas/APIError'

  /metrics/v2/assets/metrics:
    get:
      operationId: getAssetsTimeseriesCatalog
      summary: Get Assets Timeseries Catalog
      description: |
        Get a catalog of available timeseries datasets and metrics for assets.
        This endpoint is only available for enterprise users.
      tags:
        - AssetV2
      security:
        - apiKey: []
      parameters:
        - $ref: '../../common/parameters.yaml#/components/parameters/apiKey'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../common/components.yaml#/components/schemas/APIResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TimeseriesCatalog'
        '400':
          description: Client error response
          content:
            application/json:
              schema:
                $ref: '../../common/components.yaml#/components/schemas/APIError'
        '403':
          description: Forbidden - Enterprise access required
          content:
            application/json:
              schema:
                $ref: '../../common/components.yaml#/components/schemas/APIError'
        '500':
          description: Server error response
          content:
            application/json:
              schema:
                $ref: '../../common/components.yaml#/components/schemas/APIError'

  /metrics/v2/assets/ath:
    get:
      operationId: getAssetsV2ATH
      summary: Get Assets All-Time High Information
      description: |
        Get all-time high information for assets, with various filtering options.
      tags:
        - AssetV2
      security:
        - apiKey: []
      parameters:
        - $ref: '../../common/parameters.yaml#/components/parameters/apiKey'
        - name: ids
          in: query
          required: false
          description: Comma-separated list of asset IDs
          schema:
            type: string
        - name: slugs
          in: query
          required: false
          description: Comma-separated list of asset slugs
          schema:
            type: string
        - name: category
          in: query
          required: false
          description: Filter by asset category
          schema:
            type: string
        - name: sector
          in: query
          required: false
          description: Filter by asset sector
          schema:
            type: string
        - name: tags
          in: query
          required: false
          description: Filter by asset tags (comma-separated)
          schema:
            type: array
            items:
              type: string
        - name: search
          in: query
          required: false
          description: Search query for assets
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../common/components.yaml#/components/schemas/APIResponseWithMetadata'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/V2AssetAthItem'
        '400':
          description: Client error response
          content:
            application/json:
              schema:
                $ref: '../../common/components.yaml#/components/schemas/APIError'
        '500':
          description: Server error response
          content:
            application/json:
              schema:
                $ref: '../../common/components.yaml#/components/schemas/APIError'

  /metrics/v2/assets/roi:
    get:
      operationId: getAssetsV2ROI
      summary: Get Assets Return on Investment Information
      description: |
        Get return on investment information for assets, with various filtering options.
      tags:
        - AssetV2
      security:
        - apiKey: []
      parameters:
        - $ref: '../../common/parameters.yaml#/components/parameters/apiKey'
        - name: ids
          in: query
          required: false
          description: Comma-separated list of asset IDs
          schema:
            type: string
        - name: slugs
          in: query
          required: false
          description: Comma-separated list of asset slugs
          schema:
            type: string
        - name: category
          in: query
          required: false
          description: Filter by asset category
          schema:
            type: string
        - name: sector
          in: query
          required: false
          description: Filter by asset sector
          schema:
            type: string
        - name: tags
          in: query
          required: false
          description: Filter by asset tags (comma-separated)
          schema:
            type: array
            items:
              type: string
        - name: search
          in: query
          required: false
          description: Search query for assets
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../common/components.yaml#/components/schemas/APIResponseWithMetadata'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/V2AssetRoiItem'
        '400':
          description: Client error response
          content:
            application/json:
              schema:
                $ref: '../../common/components.yaml#/components/schemas/APIError'
        '500':
          description: Server error response
          content:
            application/json:
              schema:
                $ref: '../../common/components.yaml#/components/schemas/APIError'

  /metrics/v2/assets/{entityIdentifier}/metrics/{datasetSlug}/time-series:
    get:
      operationId: getAssetTimeseries
      summary: Get Asset Timeseries Data
      description: |
        Get timeseries data for a specific asset and dataset.
        This endpoint is only available for enterprise users.
      tags:
        - AssetV2
      security:
        - apiKey: []
      parameters:
        - $ref: '../../common/parameters.yaml#/components/parameters/apiKey'
        - name: entityIdentifier
          in: path
          required: true
          description: Asset identifier (ID or slug)
          schema:
            type: string
        - name: datasetSlug
          in: path
          required: true
          description: Slug of the dataset to retrieve data for
          schema:
            type: string
        - name: start
          in: query
          required: false
          description: Start time for the data range (ISO 8601 format)
          schema:
            type: string
            format: date-time
        - name: end
          in: query
          required: false
          description: End time for the data range (ISO 8601 format)
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../common/components.yaml#/components/schemas/APIResponseWithMetadata'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TimeseriesData'
                      metadata:
                        $ref: '#/components/schemas/TimeseriesMetadata'
        '400':
          description: Client error response
          content:
            application/json:
              schema:
                $ref: '../../common/components.yaml#/components/schemas/APIError'
        '403':
          description: Forbidden - Enterprise access required
          content:
            application/json:
              schema:
                $ref: '../../common/components.yaml#/components/schemas/APIError'
        '500':
          description: Server error response
          content:
            application/json:
              schema:
                $ref: '../../common/components.yaml#/components/schemas/APIError'
  
  /metrics/v2/assets/{entityIdentifier}/metrics/{datasetSlug}/time-series/{granularity}:
    get:
      operationId: getAssetTimeseriesWithGranularity
      summary: Get Asset Timeseries Data with Specific Granularity
      description: |
        Get timeseries data for a specific asset and dataset with a specific time granularity.
        This endpoint is only available for enterprise users.
      tags:
        - AssetV2
      security:
        - apiKey: []
      parameters:
        - $ref: '../../common/parameters.yaml#/components/parameters/apiKey'
        - name: entityIdentifier
          in: path
          required: true
          description: Asset identifier (ID or slug)
          schema:
            type: string
        - name: datasetSlug
          in: path
          required: true
          description: Slug of the dataset to retrieve data for
          schema:
            type: string
        - name: granularity
          in: path
          required: true
          description: Time granularity for the data points
          schema:
            $ref: '#/components/schemas/TimeseriesInterval'
        - name: start
          in: query
          required: false
          description: Start time for the data range (ISO 8601 format)
          schema:
            type: string
            format: date-time
        - name: end
          in: query
          required: false
          description: End time for the data range (ISO 8601 format)
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../common/components.yaml#/components/schemas/APIResponseWithMetadata'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TimeseriesData'
                      metadata:
                        $ref: '#/components/schemas/TimeseriesMetadata'
        '400':
          description: Client error response
          content:
            application/json:
              schema:
                $ref: '../../common/components.yaml#/components/schemas/APIError'
        '403':
          description: Forbidden - Enterprise access required
          content:
            application/json:
              schema:
                $ref: '../../common/components.yaml#/components/schemas/APIError'
        '500':
          description: Server error response
          content:
            application/json:
              schema:
                $ref: '../../common/components.yaml#/components/schemas/APIError'

  /metrics/v1/exchanges:
    get:
      operationId: getExchanges
      summary: List Exchanges
      description: |
        Get a list of exchanges with metadata and associated metrics snapshot.
      tags:
        - Exchange
      security:
        - apiKey: []
      parameters:
        - $ref: '../../common/parameters.yaml#/components/parameters/apiKey'
        - name: type
          in: query
          description: The type of exchange "centralized" or "decentralized"
          schema:
            type: string
            default: centralized
        - name: typeRankCutoff
          in: query
          schema:
            type: string
            default: '10'
        - name: page
          in: query
          description: Page number from which to start fetching results
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Max number of results to return per page
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../common/components.yaml#/components/schemas/APIResponseWithMetadata'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Exchange'
        '400':
          $ref: '../../common/components.yaml#/components/schemas/APIError'
        '500':
          $ref: '../../common/components.yaml#/components/schemas/APIError'

  /metrics/v1/exchanges/{exchangeIdentifier}:
    get:
      operationId: getExchange
      summary: Get Exchange Details
      description: Get detailed information for a specific exchange.
      tags:
        - Exchange
      security:
        - apiKey: []
      parameters:
        - $ref: '../../common/parameters.yaml#/components/parameters/apiKey'
        - name: exchangeIdentifier
          in: path
          required: true
          description: Exchange identifier (slug)
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../common/components.yaml#/components/schemas/APIResponseWithMetadata'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Exchange'
        '400':
          $ref: '../../common/components.yaml#/components/schemas/APIError'
        '500':
          $ref: '../../common/components.yaml#/components/schemas/APIError'

  /metrics/v1/exchanges/metrics:
    get:
      operationId: getExchangeMetrics
      summary: List Exchange Metrics
      description: Returns a list of timeseries metrics available for exchanges.
      tags:
        - Exchange
      parameters:
        - $ref: '../../common/parameters.yaml#/components/parameters/apiKey'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../common/components.yaml#/components/schemas/APIResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TimeseriesCatalog'
        '400':
          description: Client error response
          content:
            application/json:
              schema:
                $ref: '../../common/components.yaml#/components/schemas/APIError'
        '403':
          description: Forbidden - Enterprise access required
          content:
            application/json:
              schema:
                $ref: '../../common/components.yaml#/components/schemas/APIError'
        '500':
          description: Server error response
          content:
            application/json:
              schema:
                $ref: '../../common/components.yaml#/components/schemas/APIError'

  /metrics/v1/exchanges/{entityIdentifier}/metrics/{datasetSlug}/time-series/{granularity}:
    get:
      operationId: getExchangeTimeseries
      summary: Get Exchange Timeseries Metrics
      description: Fetch timeseries metrics for a specific exchange.
      tags:
        - Exchange
      security:
        - apiKey: []
      parameters:
        - $ref: '../../common/parameters.yaml#/components/parameters/apiKey'
        - name: entityIdentifier
          in: path
          required: true
          description: Exchange identifier (slug)
          schema:
            type: string
        - name: datasetSlug
          in: path
          required: true
          description: Slug of the dataset to retrieve data for
          schema:
            type: string
        - name: granularity
          in: path
          required: true
          description: Time granularity for the data points
          schema:
            $ref: '#/components/schemas/TimeseriesInterval'
        - name: start
          in: query
          required: true
          description: Start time for the data range (ISO 8601 format)
          schema:
            type: string
            format: date-time
        - name: end
          in: query
          required: true
          description: End time for the data range (ISO 8601 format)
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../common/components.yaml#/components/schemas/APIResponseWithMetadata'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TimeseriesData'
                      metadata:
                        $ref: '#/components/schemas/TimeseriesMetadata'
        '400':
          description: Client error response
          content:
            application/json:
              schema:
                $ref: '../../common/components.yaml#/components/schemas/APIError'
        '403':
          description: Forbidden - Enterprise access required
          content:
            application/json:
              schema:
                $ref: '../../common/components.yaml#/components/schemas/APIError'
        '500':
          description: Server error response
          content:
            application/json:
              schema:
                $ref: '../../common/components.yaml#/components/schemas/APIError'

  /metrics/v1/markets:
    get:
      operationId: getMarkets
      summary: List Markets
      description: Retrieves a list of markets. Results can be filtered by exchange, quote asset, base asset and 24h volume
      tags:
        - Markets
      security:
        - apiKey: []
      parameters:
        - $ref: '../../common/parameters.yaml#/components/parameters/apiKey'
        - name: exchangeId
          in: query
          description: Filter by exchange ID
          schema:
            type: string
        - name: exchangeSlug
          in: query
          description: Filter by exchange slug
          schema:
            type: string
        - name: quoteAssetId
          in: query
          description: Filter by quote asset ID
          schema:
            type: string
        - name: quoteAssetSlug
          in: query
          description: Filter by quote asset slug
          schema:
            type: string
        - name: baseAssetId
          in: query
          description: Filter by base asset ID
          schema:
            type: string
        - name: baseAssetSlug
          in: query
          description: Filter by base asset slug
          schema:
            type: string
        - name: volume24hAbove
          in: query
          description: Filter by minimum 24h volume
          schema:
            type: string
        - name: volume24hBelow
          in: query
          description: Filter by maximum 24h volume
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../common/components.yaml#/components/schemas/APIResponseWithMetadata'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Market'
        '400':
          $ref: '../../common/components.yaml#/components/schemas/APIError'
        '500':
          $ref: '../../common/components.yaml#/components/schemas/APIError'

  /metrics/v1/markets/{marketIdentifier}:
    get:
      operationId: getMarket
      summary: Get Market Details
      description: Fetches the data for a single market based on the marketIdentifier provided
      tags:
        - Markets
      security:
        - apiKey: []
      parameters:
        - $ref: '../../common/parameters.yaml#/components/parameters/apiKey'
        - name: marketIdentifier
          in: path
          required: true
          description: Market identifier
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../common/components.yaml#/components/schemas/APIResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Market'
        '400':
          $ref: '../../common/components.yaml#/components/schemas/APIError'
        '500':
          $ref: '../../common/components.yaml#/components/schemas/APIError'

  /metrics/v1/markets/metrics:
    get:
      operationId: getMarketMetrics
      summary: List Market Metrics
      description: Returns a list of timeseries metrics available for markets.
      tags:
        - Markets
      parameters:
        - $ref: '../../common/parameters.yaml#/components/parameters/apiKey'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../common/components.yaml#/components/schemas/APIResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TimeseriesCatalog'
        '400':
          description: Client error response
          content:
            application/json:
              schema:
                $ref: '../../common/components.yaml#/components/schemas/APIError'
        '403':
          description: Forbidden - Enterprise access required
          content:
            application/json:
              schema:
                $ref: '../../common/components.yaml#/components/schemas/APIError'
        '500':
          description: Server error response
          content:
            application/json:
              schema:
                $ref: '../../common/components.yaml#/components/schemas/APIError'

  /metrics/v1/markets/{entityIdentifier}/metrics/{datasetSlug}/time-series/{granularity}:
    get:
      operationId: getMarketTimeseries
      summary: Get Market Timeseries Metrics
      description: Fetch timeseries metrics for a specific market.
      tags:
        - Markets
      security:
        - apiKey: []
      parameters:
        - $ref: '../../common/parameters.yaml#/components/parameters/apiKey'
        - name: entityIdentifier
          in: path
          required: true
          description: Market identifier (slug)
          schema:
            type: string
        - name: datasetSlug
          in: path
          required: true
          description: Slug of the dataset to retrieve data for
          schema:
            type: string
        - name: granularity
          in: path
          required: true
          description: Time granularity for the data points
          schema:
            $ref: '#/components/schemas/TimeseriesInterval'
        - name: start
          in: query
          required: true
          description: Start time for the data range (ISO 8601 format)
          schema:
            type: string
            format: date-time
        - name: end
          in: query
          required: true
          description: End time for the data range (ISO 8601 format)
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../common/components.yaml#/components/schemas/APIResponseWithMetadata'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TimeseriesData'
                      metadata:
                        $ref: '#/components/schemas/TimeseriesMetadata'
        '400':
          description: Client error response
          content:
            application/json:
              schema:
                $ref: '../../common/components.yaml#/components/schemas/APIError'
        '403':
          description: Forbidden - Enterprise access required
          content:
            application/json:
              schema:
                $ref: '../../common/components.yaml#/components/schemas/APIError'
        '500':
          description: Server error response
          content:
            application/json:
              schema:
                $ref: '../../common/components.yaml#/components/schemas/APIError'

  /metrics/v1/networks:
    get:
      operationId: getNetworks
      summary: List Networks
      description: List of networks, metadata, and associated onchain metrics snapshot.
      tags:
        - Networks
      security:
        - apiKey: []
      parameters:
        - $ref: '../../common/parameters.yaml#/components/parameters/apiKey'
        - name: page
          in: query
          description: Page number from which to start fetching results
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: Max number of results to return per page
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../common/components.yaml#/components/schemas/APIResponseWithMetadata'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Network'
        '400':
          $ref: '../../common/components.yaml#/components/schemas/APIError'
        '500':
          $ref: '../../common/components.yaml#/components/schemas/APIError'

  /metrics/v1/networks/{networkIdentifier}:
    get:
      operationId: getNetwork
      summary: Get Network Details
      description: Returns a single network based on the identifier
      tags:
        - Networks
      security:
        - apiKey: []
      parameters:
        - $ref: '../../common/parameters.yaml#/components/parameters/apiKey'
        - name: networkIdentifier
          in: path
          required: true
          description: Network identifier (ID or slug)
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../common/components.yaml#/components/schemas/APIResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Network'
        '400':
          $ref: '../../common/components.yaml#/components/schemas/APIError'
        '500':
          $ref: '../../common/components.yaml#/components/schemas/APIError'

  /metrics/v1/networks/metrics:
    get:
      operationId: getNetworkMetrics
      summary: List Network Metrics
      description: Returns a list of timeseries metrics available for networks.
      tags:
        - Networks
      parameters:
        - $ref: '../../common/parameters.yaml#/components/parameters/apiKey'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../common/components.yaml#/components/schemas/APIResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TimeseriesCatalog'
        '400':
          description: Client error response
          content:
            application/json:
              schema:
                $ref: '../../common/components.yaml#/components/schemas/APIError'
        '403':
          description: Forbidden - Enterprise access required
          content:
            application/json:
              schema:
                $ref: '../../common/components.yaml#/components/schemas/APIError'
        '500':
          description: Server error response
          content:
            application/json:
              schema:
                $ref: '../../common/components.yaml#/components/schemas/APIError'

  /metrics/v1/networks/{entityIdentifier}/metrics/{datasetSlug}/time-series/{granularity}:
    get:
      operationId: getNetworkTimeseries
      summary: Get Network Timeseries Metrics
      description: Fetch timeseries metrics for a specific network.
      tags:
        - Networks
      security:
        - apiKey: []
      parameters:
        - $ref: '../../common/parameters.yaml#/components/parameters/apiKey'
        - name: entityIdentifier
          in: path
          required: true
          description: Exchange identifier (slug)
          schema:
            type: string
        - name: datasetSlug
          in: path
          required: true
          description: Slug of the dataset to retrieve data for
          schema:
            type: string
        - name: granularity
          in: path
          required: true
          description: Time granularity for the data points
          schema:
            $ref: '#/components/schemas/TimeseriesInterval'
        - name: start
          in: query
          required: true
          description: Start time for the data range (ISO 8601 format)
          schema:
            type: string
            format: date-time
        - name: end
          in: query
          required: true
          description: End time for the data range (ISO 8601 format)
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../common/components.yaml#/components/schemas/APIResponseWithMetadata'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TimeseriesData'
                      metadata:
                        $ref: '#/components/schemas/TimeseriesMetadata'
        '400':
          description: Client error response
          content:
            application/json:
              schema:
                $ref: '../../common/components.yaml#/components/schemas/APIError'
        '403':
          description: Forbidden - Enterprise access required
          content:
            application/json:
              schema:
                $ref: '../../common/components.yaml#/components/schemas/APIError'
        '500':
          description: Server error response
          content:
            application/json:
              schema:
                $ref: '../../common/components.yaml#/components/schemas/APIError'


components:
  securitySchemes:
    apiKey:
      type: apiKey
      name: x-messari-api-key
      in: header
      description: API key for authentication
  schemas:
    BasicAsset:
      type: object
      required:
        - id
        - serialId
        - symbol
        - name
        - slug
        - category
        - sector
        - tags
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the asset
        serialId:
          type: integer
          format: int32
          description: Serial identifier for the asset
        symbol:
          type: string
          description: Symbol of the asset
        name:
          type: string
          description: Name of the asset
        slug:
          type: string
          description: Slug of the asset
        rank:
          oneOf:
            - type: integer
            - type: "null"
          description: Rank of the asset (optional)
        category:
          type: string
          description: Category of the asset
        sector:
          type: string
          description: Sector of the asset
        tags:
          type: array
          items:
            type: string
          description: Tags associated with the asset

    V2AssetListItem:
      type: object
      required:
        - id
        - name
        - slug
        - symbol
        - category
        - sector
        - tags
        - rank
        - has_diligence
        - has_intel
        - has_market_data
        - has_news
        - has_proposals
        - has_research
        - has_token_unlocks
        - has_fundraising
      properties:
        id:
          type: string
          description: Unique identifier for the asset
        name:
          type: string
          description: Name of the asset
        slug:
          type: string
          description: Slug of the asset
        symbol:
          type: string
          description: Symbol of the asset
        category:
          type: string
          description: Category of the asset
        sector:
          type: string
          description: Sector of the asset
        tags:
          type: array
          items:
            type: string
          description: Tags associated with the asset
        rank:
          type: number
          format: float
          description: Rank of the asset
        has_diligence:
          type: boolean
          description: Whether the asset has diligence coverage
        has_intel:
          type: boolean
          description: Whether the asset has intel coverage
        has_market_data:
          type: boolean
          description: Whether the asset has market data coverage
        has_news:
          type: boolean
          description: Whether the asset has news coverage
        has_proposals:
          type: boolean
          description: Whether the asset has proposals coverage
        has_research:
          type: boolean
          description: Whether the asset has research coverage
        has_token_unlocks:
          type: boolean
          description: Whether the asset has token unlocks coverage
        has_fundraising:
          type: boolean
          description: Whether the asset has fundraising coverage

    AssetV2Link:
      type: object
      required:
        - type
        - url
      properties:
        type:
          type: string
          description: Type of the link
        url:
          type: string
          description: URL of the link
        name:
          type: string
          description: Name of the link

    AssetV2MarketData:
      type: object
      properties:
        priceUsd:
          type: number
          format: float
          description: Current price of the asset in USD
        priceBtc:
          type: number
          format: float
          description: Current price of the asset in BTC
        priceEth:
          type: number
          format: float
          description: Current price of the asset in ETH
        volume24Hour:
          type: number
          format: float
          description: 24-hour trading volume of the asset
        ohlcv1HourUsd:
          type: object
          properties:
            open:
              type: number
              format: float
            high:
              type: number
              format: float
            low:
              type: number
              format: float
            close:
              type: number
              format: float
            volume:
              type: number
              format: float
        ohlcv24HourUsd:
          type: object
          properties:
            open:
              type: number
              format: float
            high:
              type: number
              format: float
            low:
              type: number
              format: float
            close:
              type: number
              format: float
            volume:
              type: number
              format: float
        supply:
          type: object
          properties:
            circulating:
              type: number
              format: float
            total:
              type: number
              format: float
            max:
              type: number
              format: float
        marketcap:
          type: object
          properties:
            circulatingUsd:
              type: number
              format: float
            fullyDilutedUsd:
              type: number
              format: float
            dominance:
              type: number
              format: float
        # Keep the existing properties as fallbacks
        price:
          type: number
          format: float
          description: Current price of the asset
        marketCap:
          type: number
          format: float
          description: Market capitalization of the asset
        volume24h:
          type: number
          format: float
          description: 24-hour trading volume of the asset

    V2AssetEntity:
      type: object
      required:
        - id
        - name
        - slug
        - symbol
      properties:
        id:
          type: string
          description: Unique identifier for the asset
        name:
          type: string
          description: Name of the asset
        slug:
          type: string
          description: Slug of the asset
        symbol:
          type: string
          description: Symbol of the asset

    V2Asset:
      type: object
      allOf:
        - $ref: '#/components/schemas/V2AssetEntity'
        - type: object
          required:
            - category
            - sector
            - tags
            - description
            - links
            - marketData
            - networkSlugs
            - protocolSlugs
            - returnOnInvestment
            - allTimeHigh
          properties:
            rank:
              type: integer
              description: Rank of the asset (optional)
            category:
              type: string
              description: Category of the asset
            sector:
              type: string
              description: Sector of the asset
            tags:
              type: array
              items:
                type: string
              description: Tags associated with the asset
            description:
              type: string
              description: Description of the asset
            links:
              type: array
              items:
                $ref: '#/components/schemas/AssetV2Link'
              description: Links related to the asset
            marketData:
              $ref: '#/components/schemas/AssetV2MarketData'
              description: Market data for the asset
            networkSlugs:
              type: array
              items:
                type: string
              description: Slugs of networks related to the asset
            protocolSlugs:
              type: array
              items:
                type: string
              description: Slugs of protocols related to the asset
            returnOnInvestment:
              $ref: '#/components/schemas/V2AssetROI'
              description: Return on investment data for the asset
            allTimeHigh:
              $ref: '#/components/schemas/V2AssetATH'
              description: All-time high data for the asset

    TimeseriesPointSchema:
      type: object
      required:
        - name
        - slug
        - description
        - is_timestamp
      properties:
        name:
          type: string
          description: Name of the metric
        slug:
          type: string
          description: Slug of the metric
        description:
          type: string
          description: Description of the metric
        is_timestamp:
          type: boolean
          description: Whether this point is a timestamp

    TimeseriesInterval:
      type: string
      enum:
        - 1m
        - 5m
        - 15m
        - 30m
        - 1h
        - 6h
        - 1d
        - 1w
        - 30d
        - 1q
        - 1y
      description: Time interval granularity for data points

    TimeseriesDataset:
      type: object
      required:
        - slug
        - granularities
        - metrics
      properties:
        slug:
          type: string
          description: Unique slug identifier for the dataset
        granularities:
          type: array
          items:
            $ref: '#/components/schemas/TimeseriesInterval'
          description: Available time granularities for the dataset
        metrics:
          type: array
          items:
            $ref: '#/components/schemas/TimeseriesPointSchema'
          description: Metrics available in the dataset

    TimeseriesCatalog:
      type: object
      required:
        - datasets
      properties:
        datasets:
          type: array
          items:
            $ref: '#/components/schemas/TimeseriesDataset'
          description: Available timeseries datasets

    TimeseriesMetadata:
      type: object
      required:
        - pointSchemas
        - granularity
      properties:
        pointSchemas:
          type: array
          items:
            $ref: '#/components/schemas/TimeseriesPointSchema'
          description: Schemas for the points in the timeseries
        granularity:
          $ref: '#/components/schemas/TimeseriesInterval'
          description: Time granularity of the data points

    TimeseriesData:
      type: object
      properties:
        points:
          type: array
          items:
            type: array
            items:
              type: number
            description: Array of values for this data point (timestamp, open, high, low, close, volume, etc.)
          description: Array of timeseries data points

    V2AssetAthItem:
      type: object
      required:
        - id
        - name
        - slug
        - symbol
        - category
        - sector
        - tags
        - allTimeHigh
      properties:
        id:
          type: string
          description: Unique identifier for the asset
        name:
          type: string
          description: Name of the asset
        slug:
          type: string
          description: Slug of the asset
        symbol:
          type: string
          description: Symbol of the asset
        category:
          type: string
          description: Category of the asset
        sector:
          type: string
          description: Sector of the asset
        tags:
          type: array
          items:
            type: string
          description: Tags associated with the asset
        allTimeHigh:
          $ref: '#/components/schemas/V2AssetATH'
          description: All-time high data for the asset

    V2AssetRoiItem:
      type: object
      required:
        - id
        - name
        - slug
        - symbol
        - category
        - sector
        - tags
        - returnOnInvestment
      properties:
        id:
          type: string
          description: Unique identifier for the asset
        name:
          type: string
          description: Name of the asset
        slug:
          type: string
          description: Slug of the asset
        symbol:
          type: string
          description: Symbol of the asset
        category:
          type: string
          description: Category of the asset
        sector:
          type: string
          description: Sector of the asset
        tags:
          type: array
          items:
            type: string
          description: Tags associated with the asset
        returnOnInvestment:
          $ref: '#/components/schemas/V2AssetROI'
          description: Return on investment data for the asset

    V2AssetROI:
      type: object
      required:
        - priceChange24h
        - priceChange7d
        - priceChange30d
        - priceChange1y
        - priceChange3y
        - priceChange5y
        - priceChangeMTD
        - priceChangeQTD
        - priceChangeYTD
      properties:
        priceChange24h:
          type: number
          format: float
          description: Price change over the last 24 hours
        priceChange7d:
          type: number
          format: float
          description: Price change over the last 7 days
        priceChange30d:
          type: number
          format: float
          description: Price change over the last 30 days
        priceChange1y:
          type: number
          format: float
          description: Price change over the last year
        priceChange3y:
          type: number
          format: float
          description: Price change over the last 3 years
        priceChange5y:
          type: number
          format: float
          description: Price change over the last 5 years
        priceChangeMTD:
          type: number
          format: float
          description: Price change month-to-date
        priceChangeQTD:
          type: number
          format: float
          description: Price change quarter-to-date
        priceChangeYTD:
          type: number
          format: float
          description: Price change year-to-date

    V2AssetATH:
      type: object
      required:
        - allTimeHigh
        - allTimeHighDate
        - allTimeHighTimeSinceSeconds
        - allTimeHighPercentDown
        - breakevenMultiple
        - cycleLow
        - cycleLowDate
        - cycleLowTimeSinceSeconds
        - cycleLowPercentUp
      properties:
        allTimeHigh:
          type: number
          format: float
          description: Price at the all-time high
        allTimeHighDate:
          type: string
          format: date-time
          description: Date of the all-time high
        allTimeHighTimeSinceSeconds:
          type: number
          format: float
          description: Time since all-time high in seconds
        allTimeHighPercentDown:
          type: number
          format: float
          description: Percent down from all-time high
        breakevenMultiple:
          type: number
          format: float
          description: Multiple required to reach breakeven from current price
        cycleLow:
          type: number
          format: float
          description: The cycle low price
        cycleLowDate:
          type: string
          format: date-time
          description: Date of the cycle low
        cycleLowTimeSinceSeconds:
          type: number
          format: float
          description: Time since cycle low in seconds
        cycleLowPercentUp:
          type: number
          format: float
          description: Percent up from cycle low

    ExchangeListResponse:
      type: object
      properties:
        error:
          type: object
        data:
          type: array
          items:
            $ref: '#/components/schemas/Exchange'

    ExchangeResponse:
      type: object
      properties:
        error:
          type: object
        data:
          $ref: '#/components/schemas/Exchange'

    Exchange:
      type: object
      required:
        - id
        - name
        - slug
        - type
        - metrics
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        type:
          type: string
        yearEstablished:
          type: integer
        region:
          type: string
        country:
          type: string
        typeRank30D:
          type: integer
        globalRank30D:
          type: integer
        relatedExchangeIDs:
          type: array
          items:
            type: string
            format: uuid
        metrics:
          type: object
          properties:
            volume24Hour:
              type: number
              format: float
            trades24Hour:
              type: integer
            assetsCount:
              type: integer
            marketsCount:
              type: integer

    ExchangeMetricsResponse:
      type: object
      properties:
        error:
          type: object
        data:
          type: object
          properties:
            datasets:
              type: array
              items:
                $ref: '#/components/schemas/ExchangeDataset'

    ExchangeDataset:
      type: object
      required:
        - slug
        - granularities
        - metrics
      properties:
        slug:
          type: string
        granularities:
          type: array
          items:
            type: string
        metrics:
          type: array
          items:
            $ref: '#/components/schemas/TimeseriesPointSchema'

    ExchangeTimeseriesResponse:
      type: object
      properties:
        error:
          type: object
        data:
          $ref: '#/components/schemas/TimeseriesData'
        metadata:
          $ref: '#/components/schemas/TimeseriesMetadata'

    Network:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        metrics:
          type: object
          properties:
            transactions:
              type: object
              properties:
                totalTransactions:
                  type: integer
                successfulTransactions:
                  type: integer
                unsuccessfulTransactions:
                  type: integer
            addresses:
              type: object
              properties:
                activeAddresses:
                  type: integer
                newAddresses:
                  type: integer
                returningAddresses:
                  type: integer
            contracts:
              type: object
              properties:
                activeContracts:
                  type: integer
                totalContractsCalled:
                  type: integer
                newContractsCalled:
                  type: integer
                returningContractsCalled:
                  type: integer
                uniqueContractCallers:
                  type: integer
                newContractsDeployed:
                  type: integer
                contractCallGasPayers:
                  type: integer
                contractDeployers:
                  type: integer
                newContractDeployers:
                  type: integer
                gasSpenders:
                  type: integer

    Market:
      type: object
      properties:
        id:
          type: string
        baseAsset:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            slug:
              type: string
            symbol:
              type: string
        baseAssetSector:
          type: string
        quoteAsset:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            slug:
              type: string
            symbol:
              type: string
        quoteAssetSector:
          type: string
        exchange:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            slug:
              type: string
        network:
          type: object
        sectors:
          type: array
          items:
            type: string
        firstTradeAt:
          type: string
          format: date-time
        lastTradeAt:
          type: string
          format: date-time
        isNewMarket:
          type: boolean
        isRecentlyListed:
          type: boolean
        liveness:
          type: string
        metrics:
          type: object
          properties:
            exchangeVolumePercentage24h:
              type: number
            latestPrice24hOpen:
              type: number
            latestPrice24hHigh:
              type: number
            latestPrice24hLow:
              type: number
            latestPrice24hClose:
              type: number
            premiumDiscount:
              type: number
            volume24h:
              type: number
            tradeCount24h:
              type: integer
