openapi: 3.1.0
info:
  title: Messari API
  version: 0.0.1
  description: Combined API specification for all Messari services
  contact:
    name: Messari Engineering
    url: https://messari.io
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.messari.io
    description: Production server
  - url: https://api.staging.messari.io
    description: Staging server
  - url: http://localhost:8080
    description: Local development server

# Global security requirement
security:
  - apiKey: []

# Import common components
components:
  schemas:
    # Common schemas
    APIError:
      $ref: './common/components.yaml#/components/schemas/APIError'
    APIResponseWithMetadata:
      $ref: './common/components.yaml#/components/schemas/APIResponseWithMetadata'
    PaginationResult:
      $ref: './common/components.yaml#/components/schemas/PaginationResult'
  parameters:
    # Common parameters
    page:
      $ref: './common/parameters.yaml#/components/parameters/page'
    limit:
      $ref: './common/parameters.yaml#/components/parameters/limit'
    apiKey:
      $ref: './common/parameters.yaml#/components/parameters/apiKey'
  securitySchemes:
    apiKey:
      type: apiKey
      name: x-messari-api-key
      in: header
      description: API key for authentication

# Import paths from all services
paths:
  # AI Service Paths
  /ai/v1/chat/completions:
    $ref: './services/ai/openapi.yaml#/paths/~1ai~1v1~1chat~1completions'
  /ai/v1/classification/extraction:
    $ref: './services/ai/openapi.yaml#/paths/~1ai~1v1~1classification~1extraction'
  
  # Intel Service Paths
  /intel/v1/events:
    $ref: './services/intel/openapi.yaml#/paths/~1intel~1v1~1events'
  /intel/v1/events/{eventId}:
    $ref: './services/intel/openapi.yaml#/paths/~1intel~1v1~1events~1{eventId}'
  /intel/v1/assets:
    $ref: './services/intel/openapi.yaml#/paths/~1intel~1v1~1assets'
  
  # News Service Paths
  /news/v1/news/assets:
    $ref: './services/news/openapi.yaml#/paths/~1news~1v1~1news~1assets'
  /news/v1/news/feed:
    $ref: './services/news/openapi.yaml#/paths/~1news~1v1~1news~1feed'
  /news/v1/news/sources:
    $ref: './services/news/openapi.yaml#/paths/~1news~1v1~1news~1sources'

  # Recaps Service Paths
  /ai-digest/api/v1/recap:
    $ref: './services/recaps/openapi.yaml#/paths/~1ai-digest~1api~1v1~1recap'
  /ai-digest/api/v1/exchange-recap:
    $ref: './services/recaps/openapi.yaml#/paths/~1ai-digest~1api~1v1~1exchange-recap'
  /ai-digest/api/v1/exchange-rankings-recap:
    $ref: './services/recaps/openapi.yaml#/paths/~1ai-digest~1api~1v1~1exchange-rankings-recap'

# Import tags from all services
tags:
  # AI Service Tags
  - name: ai:Chat
    description: AI chat completion endpoints
  - name: ai:Classification
    description: AI entity extraction and classification endpoints
  
  # Intel Service Tags
  - name: intel:Events
    description: Event-related endpoints
  - name: intel:Assets
    description: Asset-related endpoints
  
  # News Service Tags
  - name: news:News
    description: News feed and related endpoints 

  # Recaps Service Tags
  - name: recaps:Projects
    description: Project recap endpoints
  - name: recaps:Exchanges
    description: Exchange recap endpoints
